@import './fonts.css';

* {
  font-family: 'IBM Plex Sans';
  margin: 0;
  padding: 0;
  color: white;
}

body {
  background-color:#000;
  margin:0;
  padding:0;
  overflow:hidden;
  font-family: 'IBM Plex Sans';
}

#map, #content, #footer, #navigation, #legend{
  position: absolute;
}

div#content {
  width: 550px;
}

.subline {
  font-family: 'IBM Plex Sans';
  font-weight: bold;
  font-size: 16px;
}

#bezirksregionen path{
  fill:transparent;
  stroke:#000;
  stroke-width: 1;
  stroke-linecap: round;
  stroke-linejoin: round;
}

#bezirksgrenzen path {
  fill:transparent;
  stroke:#000;
  stroke-width: 3;
  stroke-linecap: round;
  stroke-linejoin: round;
}

#footer img{
  width:400px;
  height:auto;
}

#navigation ul,
#navigation li{
  overflow: auto;
  list-style: none;
  margin-bottom: 10px;
}

#navigation li{
  /* margin:0 10px 0 0;
  border:1px solid white;
  padding: 3px 5px;
  border-radius: 4px;
  color:white;
  cursor: pointer; */
  
  float:left;
  border: 1px solid;
  font-family: 'IBM Plex Sans';
  color: white;
  border-radius: 6px;
  cursor: pointer;
  height: 20px;
  padding: 7px 11px 8px 11px;
  margin-right: 15px;
  transition: all .25s ease;
  opacity: .5;
}

#navigation li:hover {
  opacity: 1;
}

#navigation li.active{
  background-color:white;
  color:black;
  opacity: 1;
  transition: all .25s ease;
}

#navigation ul{
  padding-top:10px;
  clear:both;
}

#lang-navigation > li {
  cursor: pointer;
}

#main-navigation {
  overflow: auto;
  margin-bottom: 20px;
}

#content-topic {
  margin-top: 30px;
  margin-bottom: 5px;
  opacity: .3;
}

#content-description {
  width: 400px;
  margin-top: 15px;
  line-height: 160%;
}

.lang-wrapper {
  z-index: 100;
  position: absolute;
  top: 600px;
  left: 200px;
}

.title {
  font-size: 48px;
}

#legend {
  position: absolute;
  left: 1000px;
}

#legend text{
  fill:#fff;
  font-size: 16px;
}

#legend svg{
  overflow:visible;
}