*{
  font-family: Helvetica, Arial, sans-serif;
  margin:0;
  padding:0;
  color:white;
}

body{
  background-color:#000;
}

#map, #content, #footer, #navigation{
  position: absolute;
}

#bezirksregionen path{
  fill:transparent;
  stroke:#000;
  stroke-width: 1;
  stroke-linecap: round;
  stroke-linejoin: round;
}

#bezirksgrenzen path {
  fill:transparent;
  stroke:#000;
  stroke-width: 3;
  stroke-linecap: round;
  stroke-linejoin: round;
}

#footer img{
  width:400px;
  height:auto;
}

#navigation ul,
#navigation li{
  list-style: none;
}

#navigation li{
  float:left;
  margin:0 10px 0 0;
  border:2px solid white;
  padding: 3px 5px;
  border-radius: 4px;
  color:white;
}

#navigation li.active{
  background-color:white;
  color:black;
}

#navigation ul{
  padding-top:10px;
  clear:both;
}